@charset "UTF-8";

:root {
    --cor1: #76276C;
    --cor2: #9B344E;
    --cor3: #4D2C73;
    --cor4: #B56CAC;
    --branco:white;
    --preto: black;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
    width: 100vw;
    background-color: var(--cor3);
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;

    background-color: var(--branco);
    width: 270px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.76);

    transition: width .3s, height .5s;
    transition-timing-function: ease;
}

section#login > section#imagem {
    display: block;
    background: var(--cor3) url(../imagens/imagem.jpg) no-repeat;
    height: 200px;
    background-size: cover;
}

section#login > section#formulario {
    display: block;
    padding: 10px;
}

section#login > section#formulario > p {
    margin-top: 10px;
    text-align: left;
    font-size: .8em;
}

form > div.campo {
    display: block;
    width: 100%;
    height: 30px;
    background-color: var(--cor4);
    border-radius: 5px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

form > input[type=submit] {
    display: block;
    width: 100%;
    font-size: 1em;
    height: 30px;

    background-color: var(--cor2);
    border: none;
    border-radius: 5px;
    color: var(--branco);
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: var(--cor3);
    transition: .3s;
}

form > a {
    display: block;
    width: 100%;
    font-size: 1em;
    height: 30px;
    margin-top: 5px;
    background-color: var(--branco);
    text-decoration: none;
    color: var(--cor3);
    font-weight: bold;
    text-align: center;
    border: 1px solid var(--cor3);
    border-radius: 5px;
    cursor: pointer;
    padding-top: 5px;
}

form > a > .material-symbols-outlined {
    font-size: .8em;
    font-weight: bold;
}

form > a:hover {
    background-color: var(--cor3);
    transition: .3s;
    color: var(--branco);
}
